<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Please login/signup to check your loan eligibility</h1>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/login" role="button">Login Now</a>
                <a class="btn btn-success btn-lg" href="/register" role="button">Register Now</a>
            </p>
        </div>
    </div>
</body>

</html>